<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="showNews.css">
	<title>News List</title>
</head>
<body backgound>	
	<div class = "article">
		<div class = "title"><%= data[0].title %></div>
		<div class = "date"<%= data[0].date %>></div>
		<div class = "reporter"><%= data[0].userid %></div>
		<div class = "contents"><%= data[0].contents %></div>
		<div class = "comments"></div>
	</div>
</body>
</html>


